@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url("../src/assets/fonts/poppins-medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("../src/assets/fonts/poppins-bold.ttf");
  font-weight: 700;
}
